name: Generate Podcast Feeds

on:
  push:
    branches:
      - main
    paths:
      - 'episodes-*/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate-feeds:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Generate feeds
        run: |
          find . -mindepth 1 -maxdepth 1 -type d -name "episodes-*" -print0 | while IFS= read -r -d '' folder; do
            folder="${folder#./}"
            python generate_feed.py "$folder" "${{ github.repository_owner }}" "${{ github.event.repository.name }}"
          done

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          find . -mindepth 2 -maxdepth 2 -type f -path "./episodes-*/feed.xml" -print0 | xargs -0 -r git add
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Update podcast feeds"
            git push https://x-access-token:${{ secrets.GH_PAT }}@github.com/Refugeek/podcast-feed.git HEAD:${{ github.ref }}
          fi
        env:
          PAT_TOKEN: ${{ secrets.GH_PAT }}
